* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: $baseline;
    text-rendering: optimizeLegibility;
}

body {
    background: $color-paper;
    color: $color-text;
    font-family: $font-sans;
    margin: 0;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}