.button {
    background: $color-link;
    color: $color-paper;
    display: inline-block;
    font-size: $text-sm;
    line-height: 1;
    padding: .325rem .4rem;
    text-align: center;
    text-transform: uppercase;

    &:focus {
        text-decoration: underline;
    }
}