.button {
    background: $color-link;
    color: $color-paper;
    display: inline-block;
    font-size: $text-sm;
    font-weight: 600;
    line-height: 1.2;
    padding: .25rem .5rem;
    text-transform: uppercase;
}
