h1, h2, h3, h4 {
    font-weight: 400;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1.hi {
    display: flex;
    align-items: center;

    &::after {
        content: '\1F44B';
        font-size: $text-h3;
        margin-left: .75rem;
    }
}

p {
    margin-top: 0;
    margin-bottom: .75rem;
}
