$color-text: #2d3546;
$color-link: #0663ee;
$color-paper: #fdfdfd;
$color-border: #e7ebf5;

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$baseline: 1.6;
$text-h1: 1.875rem;
$text-h2: 1.5rem;
$text-h3: 1.25rem;
$text-normal: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;
